
.vistaLogin {
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.nav {
    display: flex;
    align-items: center;

}

.sendButton {
    height: 2em;
    width: 4em;
    background-color: silver;
    color: black;

}
